# Logs
fe/logs
fe/*.log
fe/npm-debug.log*
fe/yarn-debug.log*
fe/yarn-error.log*
fe/pnpm-debug.log*
fe/lerna-debug.log*

fe/node_modules
fe/dist
fe/dist-ssr
fe/*.local

# Editor directories and files
fe/.vscode/*
fe/!.vscode/extensions.json
fe/.idea
fe/.DS_Store
fe/*.suo
fe/*.ntvs*
fe/*.njsproj
fe/*.sln
fe/*.sw?

.idea
mp/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
